<% layout("/layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
    <h2>Create a new listing</h2>
    <br>
    <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-lable">Title</label>
            <input name="listing[title]" placeholder="Enter Title" type="text" class="form-control" required>
            <div class="valid-feedback">Title looks good</div>
        </div>
        <br>
        <div class="mb-3">
            <label for="Description" class="form-lable">Description</label>
            <textarea name="listing[description]" placeholder="Enter description here" class="form-control" required></textarea>
            <div class="invalid-feedback">Enter a short Description</div>
        </div>
        <div class="mb-3">
            <label for="image" class="form-lable">Upload image</label>
            <input name="listing[image]" type="file" class="form-control">
        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="Price" class="form-lable">Price</label>
                <input name="listing[price]" placeholder="Enter Price" class="form-control" type="number" required>
                <div class="invalid-feedback">Please enter the price name correctly</div>
            </div>
            <div class="mb-3 col-md-8">
                <label for="country" class="form-lable">country</label>
                <input name="listing[country]" placeholder="Enter country" type="text" class="form-control" required>
                <div class="invalid-feedback">Please enter the county name correctly</div>
            </div>
        </div>
        <div class="mb-3">
            <label for="location" class="form-lable">location</label>
            <input name="listing[location]" placeholder="Enter location" class="form-control" required>
            <div class="invalid-feedback">Please enter the location name correctly</div>
        </div>
        <br>
        <button class="btn btn-dark add-btn">Add</button>
        <br>
    </form>
</div>
</div>

